/ {
    /* 컴파일러가 인식할 가상 키스캔 장치 경로 지정 */
    chosen {
        zmk,kscan = &kscan0;
    };

    /* nRF52840 칩 자체의 내부 GPIO 포트를 빌려 가상 단추로 선언 (물리 핀 간섭 없음) */
    kscan0: kscan {
        compatible = "zmk,kscan-gpio-direct";
        wakeup-source;
        input-gpios
            = <&gpio0 13 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            ;
    };
};
