/ {
    /* 1. 수신기를 위한 가상 키스캔 장치 최종 매핑 */
    chosen {
        zmk,kscan = &kscan0;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-mock";
        columns = <1>;
        rows = <1>;
        events = <0>;
    };

    /* 2. 본체(Xiao BLE)의 신호를 무선으로 받아들이기 위한 가상 BLE 스플릿 통로 노드 주입 */
    split {
        compatible = "zmk,split-processor";
    };
};
